/*
Theme Name: Tranquil WP
Theme URI: http://tranquil.avena.ml
Author: Fernando Padilha Avena
Author URI: http://avena.ml
Description: Fully responsive Wordpress SPA Theme Build using Bootstrap 3
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: right-sidebar, responsive-layout, custon-header, custom-menu, translation-ready
Text Domain: tranquilwp
*/

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}


/*Global*/
/*font-family: 'Merriweather', serif;*/

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 16px;
}


img {
    max-width: 100%;
}

.btn-default, #submit, #searchsubmit {
    background-color: #8393ca;
    border: 3px solid #ecf0f1;
    border-radius: 5px;
    padding: 15px 30px;
    color: white;
}

.btn-default:hover, #submit:hover, #searchsubmit:hover {
    background-color: #97689c;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 20px;
}

a:hover {
    text-decoration: none;
    color: #97689c;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

footer li a {
    color: white
}

footer li a:hover {
    color: #494646;
}

/*navbar*/
.navbar {
    background: #97689c;
    margin-bottom: 0;
    border: 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a  {
    color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

/*feature section*/
.feature {
    position: relative;
}

.feature img {
    width: 100%;
}

.feature-text {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 0;
}

.feature-text:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.feature-text p {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    background: rgba(74,82,95, 0.2);
    border-radius: 10px;
    color: #fff;
    font-size: 48px;
    padding: 3%;
    line-height: 80px;
}


/*welcome section*/
#welcome {
    background: white;
    padding-bottom: 30px;
    text-align: center;
}

#welcome a {
    color: #494646;
}

.facilities {
    font-size: 1.5em;
}

.facilities img {
    display: block;
    max-width: 60%;
    margin: 30px auto;
}

/*latest offers section*/
#latest-offers {
    text-align: center;
    color: white;
    background: #97689c;
}

.offer {
    background: #4a525f;
    position: relative;
    min-height: 350px;
    padding: 40px 10px;
    margin-bottom: 60px;
}

.offer span {
    background: #8abbb1;
    display: block;
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 100%;
    line-height: 100px;
    position: absolute;
    margin-left: 50%;
    left: -50px;
    top: -50px;
    font-size: 2em;
    font-weight: bold;
}

.offer h3 {
    margin-bottom: 50px;
    font-size: 1.2em;
}

.offer p {
    line-height: 2em;
}

.margin-bottom {
    margin-bottom: 70px;
}


/* shop online section */
#shop-online {
    background: url('images/products.jpg') center no-repeat;
    min-height: 852px;
    color: #494646;
}

#shop-online .btn-default {
    margin-top: 25px;
}

/* footer section */

footer {
    color: white;
    background: #97689c;
}

footer li, address  {
    line-height: 2em;
}

i {
    margin-right: 15px;
}

#copy {
    text-align: center;
    background: white;
    color: #494646;
    height: 60px;
    line-height: 60px;
    margin-top: 30px;
}

/*blog section*/
.blog-post-title {
    background: url("images/divider-purple.png") center no-repeat;
    height: 80px;
    background-size: 300px 40px;
    background-position: center 35px;
    margin-bottom: 30px;
}

.blog-post-title a {
	color: #494646;
}

.blog-post img {
    margin-bottom: 20px;
    width: 100%;
}

#post-18 {
    background-color: #bbb;
}


/*blog-sidebar section*/
.blog-post, .sidebar-module {
    border: 1px solid #494646;
    border-radius: 10px;
    margin: 30px 0;
    padding: 20px;
}

.sidebar-module input {
    margin: 10px;
    max-width: 100%;
}

/*about section*/
#about {
    padding-bottom: 30px;
    text-align: center;
}

#about p {
    margin: 30px 0;
}

/*contact section*/
#contact {
    padding-bottom: 30px;
    text-align: center;
}

.address {
    text-align: left;
    margin-top: 30px;
    font-size: 1.2em;
    line-height: 2em;
}

.address i {
    color: #97689c;
}

#contact iframe {
    margin-top: 30px;
    max-width: 100%;
}

.message-area {
    margin-top: 30px;

}

/*blog single post */
.blog-post-meta {
	line-height: 2em;
}

/*comment section */

div#comments.comments-area {
    border: 1px solid #494646;
    border-radius: 10px;
    margin: 30px 0;
    padding: 20px;
}

.comment-body {
    background: #eee;
    border-radius: 10px;
    margin:30px 0;
}

h2.comments-title {
    background: url("images/divider-purple.png") center no-repeat;
    height: 80px;
    background-size: 300px 40px;
    background-position: center 35px;
    margin-bottom: 30px;
}
.comment-list {
    margin-bottom: 60px;
    border-bottom: 1px dashed;
}

textarea#comment {
    width: 100%;
    margin-bottom: 20px;
}

#submit {
    width: 100%;
}

/*404 page*/
.widget {
    border: 1px solid #494646;
    border-radius: 10px;
    margin: 30px 0;
    padding: 20px;
    min-height: 300px;
}

/*media query - mobile */
@media screen and (max-width:768px) {

    li a {
        text-align: center;
    }

    .feature-text p {
        font-size: 28px;
        line-height: 28px;

    }

    h2 {
        font-size: 1.6em;
    }

    footer, .address {
        text-align: center;
    }

    footer ul, address {
        border-bottom: 1px dotted;
    }
}


